{% include 'myapp/0-base.html' %}
{% load 'my_tags' %}

{% block title %}
    {% firstof title '3-rule.html' %}
{% endblock %}

{% block body %}
<ul>
    {% for product in products %}
        <li>
            <p>Name: {{ product.name }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Discount: {{ product.discount }}</p>
            <p>Created_at: {{ product.created_at }}</p>
            <p>Archived: {{ product.archived }}</p>

            {% if product.preview %}
                <p>Preview: <img width="100px" height="100px" src="{{ product.preview.url }}" alt="{{ product.preview.name }}"></p>
            {% endif %}

            <p>Orders: {{ product.orders.all }}</p>
            <p>Images:</p>
            <ul>
                {% for img in product.images.all %}
                    <li>
                        <img width="40px" height="40px" src="{{ img.image.url }}" alt="{{ img.image.name }}">
                        <p>Description: {{ img.image.description }}</p>
                    </li>
                {% empty %}
                    <p>No images</p>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <p>No products</p>
    {% endfor %}
</ul>

<div> {# Так проверяются права в HTML #}
    {% if perms.myapp.add_product %}
        <p>You have permissions for add product!</p>
    {% endif %}
</div>

<div>  {# Так происходит работа с template tags #}
    <p>{% my_simple_tag pk=1 %}</p> {# Для использования данных преобразить в переменную: {% my_simple_tag as my_key %} #}
    <p>{% my_inclusion_tag pk=1 %}</p>  {# my_inclusion_tag - inclusion тег, его можно сразу использовать, не задавая имя, он в файле: 6-template_tags.html #}
</div>
{% endblock %}