{% include 'myapp/0-base.html' %}

{% block title %}
    {% firstof title Form %}
{% endblock %}

{% block body %}
    {% if error %}
    <div>{{error}}</div>
    {% endif %}

    {% if form %} {# Формы, написанные в Django #}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send form</button>
        </form>

    {% else %} {# Форма, написанная в самом HTML #}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="name"></label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="description"></label>
                <input type="text" id="description" name="description">
            </div>
            <div>
                <label for="price"></label>
                <input type="text" id="price" name="price">
            </div>
            <div>
                <label for="discount"></label>
                <input type="text" id="discount" name="discount">
            </div>
            <div>
                <label for="preview"></label>
                <input type="image" id="preview" name="preview">
            </div>
            <div>
                <label for="images"></label>
                <input type="image" id="images" name="images">
            </div>
            <button type="submit">Send form</button>
        </form>
    {% endif %}
{% endblock %}