{% include 'myapp/0-base.html' %}

{% block title %}
    Страница деталей продукта
{% endblock %}

{% block body %}
<p>Name: {{ product.name }}</p>
<p>Description: {{ product.description }}</p>
<p>Price: {{ product.price }}</p>
<p>Discount: {{ product.discount }}</p>
<p>Created_at: {{ product.created_at }}</p>
<p>Archived: {{ product.archived }}</p>

{% if product.preview %}
    <p>Preview: <img width="100px" height="100px" src="{{ product.preview.url }}" alt="{{ product.preview.name }}"></p>
{% endif %}

<p>Orders: {{ product.orders.all }}</p>
<p>Images:</p>
<ul>
    {% for img in product.images.all %}
        <li>
            <img width="40px" height="40px" src="{{ img.image.url }}" alt="{{ img.image.name }}">
            <p>Description: {{ img.image.description }}</p>
        </li>
    {% empty %}
        <p>No images</p>
    {% endfor %}
</ul>
{% endblock %}